<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="sagarasoftware" value="https://pkgs.dev.azure.com/sagarasoftware/_packaging/sagarasoftware/nuget/v3/index.json" />
	</packageSources>
</configuration>
